body {
    background-color: #f7fafad0;
    /* font-family: Georgia, "仿宋"; */
    font-family: Cambria, "仿宋";
    font-size: medium;
}

.top-border {
    width: 100%;
    height: 12px;
    background-color: rgb(92, 146, 137);
}

.top-flowers {
    clear: both;
    color: rgb(92, 146, 137);
    font-weight: bold;
}
.floating-left {
    float: left;
    padding-left: 20px;
}
.floating-right {
    float: right;
    padding-right: 20px;
}

.canvas {
    display: flex;
    margin-top: 48px;
    margin-left: 8%;
    margin-right: 8%;
}



/* left column */
.profile-container {
    width: 30%;
    /* background-color: #f0f0f0; */
    justify-content: center;
    align-items: center;
}

.fixed-area {
    text-align: center;
}

.fixed-area img {    
    max-width: 98%;
    width: 170px; /* 设置图片宽度 */
    height: auto; /* 根据宽度等比例缩放高度 */
    border-radius: 6%;
    margin: 10px;
    box-shadow: 3px 3px 6px gainsboro;
}



.bio-container {
    color: rgb(71, 71, 71);
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: rgb(23, 84, 74);
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Cambria;
}

.role {
    margin-top: 5px;
    margin-bottom: 5px;
}

.institution {
    /* color:rgb(65, 140, 135); */
    /* font-weight: bolder; */
    margin-top: 5px;
    margin-bottom: 5px;
}


.address {
    font-size: smaller;
    margin-top: 8px;
    margin-bottom: 3px;
}

.email {
    max-width: 98%;
    word-wrap: break-word;
    /* font-family: Calibri, 'Trebuchet MS', sans-serif; */
    /* margin-top: 15px; */
    font-size: smaller;
}



.small {
    font-size: xx-small;
    font-weight: bolder;
    /* font-style: italic; */
    color: darkcyan;
    margin-left: 2px;
    margin-right: 2px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bolder;
}

.floating {
    color: rgb(48, 48, 48);
    font-weight: normal;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: -23px;
}





/* right column */
.content-container {
    width: 70%;
    overflow-y: auto; /* 右侧内容区域垂直滚动 */
    overflow: hidden;
    line-height: 1.5;
}

.scrollable-area {
    height: 100%; /* 设置高度以触发滚动条 */
    padding: 20px;
}


.guidance {
    font-size: 22px;
    font-weight: bolder;
    color: rgb(23, 84, 74);
    margin-bottom: 15px;
    margin-left: 33px;
}

.guidance-icon {
    font-size: 22px;
    font-weight: bolder;
    color: rgb(23, 84, 74);
    margin-bottom: 15px;
    position: relative;
}


.text {
    margin-left: 35px;
    margin-bottom: 40px;
}

a {
    color: rgb(38, 119, 112);
    text-decoration: none;
}

a:hover {
    color: rgb(120, 190, 178);
    /* font-weight: bolder; */
    cursor: pointer;
}

.highlight {
    color: rgb(38, 119, 112);
    /* color: rgb(104, 166, 156); */
}

.paper-container {
    color: rgb(64, 64, 64);
    margin-bottom: 20px;
    padding: 10px;
    /* border: 1px gray solid; */
    box-shadow: 3px 3px 6px gainsboro;
    border-radius: 10px;
    background-color: white;
}

.paper-title {
    font-weight: bold;
    /* font-size: 17px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3;
    margin-top: 3px;
    margin-bottom: 3px;
}
.paper-title a {
    color: rgb(75, 108, 116);
    text-decoration: none;
}
.paper-title a:hover {
    color: rgb(97, 159, 175);
    /* font-weight: bolder; */
    cursor: pointer;
}

.self-author {
    font-weight: bold;
}

.paper-conference {
    font-style: italic;
}

@media (prefers-reduced-motion: no-preference) {
    .icon {
        animation: Icon-spin infinite 20s linear;
        width: 30px;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 5px; 
        /* margin-top: 5px;        */
    }
  }

@keyframes Icon-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

